################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/Debug/
/bin/Release/
/Homework02/Homework02/obj/Debug/net8.0
/Homework02/Homework02/bin/Debug/net8.0
/Homework02/.vs/Homework02/CopilotIndices/17.13.441.19478
/Homework02/.vs/Homework02/copilot-chat/4ebd0d87/sessions
/Homework02/.vs/Homework02/FileContentIndex
/.vs/OOP-homework/CopilotIndices/17.13.441.19478
/HW-1/Homework01/Homework01/.vs/Homework01/CopilotIndices/17.13.441.19478
/HW-1/Homework01/Homework01/.vs/Homework01/FileContentIndex
/HW-1/Homework01/Homework01/bin/Debug/net8.0
/HW-1/Homework01/Homework01/obj/Debug/net8.0
/HW-1/Homework01/Homework01/obj/Release/net8.0
/HW-1/Homework02/.vs/Homework02/copilot-chat/4ebd0d87/sessions
/HW-1/Homework02/.vs/Homework02/CopilotIndices/17.13.441.19478
/HW-1/Homework02/.vs/Homework02/FileContentIndex
/HW-1/Homework02/Homework02/bin/Debug/net8.0
