################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/Debug/
/bin/Release/
/Homework02/Homework02/obj/Debug/net8.0
/Homework02/Homework02/bin/Debug/net8.0
/Homework02/.vs/Homework02/CopilotIndices/17.13.441.19478
/Homework02/.vs/Homework02/copilot-chat/4ebd0d87/sessions
/Homework02/.vs/Homework02/FileContentIndex
/.vs/OOP-homework/CopilotIndices/17.13.441.19478
/HW-1/Homework01/Homework01/.vs/Homework01/CopilotIndices/17.13.441.19478
/HW-1/Homework01/Homework01/.vs/Homework01/FileContentIndex
/HW-1/Homework01/Homework01/bin/Debug/net8.0
/HW-1/Homework01/Homework01/obj/Debug/net8.0
/HW-1/Homework01/Homework01/obj/Release/net8.0
/HW-1/Homework02/.vs/Homework02/copilot-chat/4ebd0d87/sessions
/HW-1/Homework02/.vs/Homework02/CopilotIndices/17.13.441.19478
/HW-1/Homework02/.vs/Homework02/FileContentIndex
/HW-1/Homework02/Homework02/bin/Debug/net8.0
/.vs/OOP-homework/FileContentIndex/577409da-fafc-4090-b22b-99073b4cec1b.vsidx
/.vs/OOP-homework/FileContentIndex/ee19ecf2-261d-4eb6-b25d-0da3079c1283.vsidx
*.vsidx
/HW-2/Car1/.vs/Car1/CopilotIndices/17.13.441.19478
/.vs/OOP-homework/copilot-chat/4ebd0d87/sessions
/.vs/slnx.sqlite
/HW-3/Transport/.vs/Transport/CopilotIndices/17.13.441.19478
/HW-4/Text1/.vs/Text1
/HW-4/Text1/Text1/bin/Debug/net8.0
/HW-4/Text1/Text1/obj
/HW-3/Transport1/Transport1/bin/Debug/net8.0
/HW-3/Transport1/Transport1/obj
/HW-3/Transport1/.vs/Transport1/CopilotIndices/17.13.441.19478
/HW-3/Transport1/.vs/Transport1/DesignTimeBuild
/HW-3/Transport1/.vs/Transport1/v17/TestStore/0
/HW-3/Transport1/.vs/Transport1/v17
/HW-3/Transport1/.vs/ProjectEvaluation
/HW-5/Наследование/Наследование/obj
/HW-5/Наследование/Наследование/bin/Debug/net8.0
/HW-5/Наследование/.vs/Наследование/CopilotIndices/17.13.441.19478
/HW-5/Наследование/.vs/Наследование/copilot-chat/4ebd0d87/sessions
/HW-5/Наследование/.vs/Наследование/DesignTimeBuild
/HW-5/Наследование/.vs/Наследование/v17/TestStore/0
/HW-5/Наследование/.vs/ProjectEvaluation
/HW-5/Наследование/.vs/Наследование/v17/DocumentLayout.json
*.v2
/HW-5/Наследование/.vs/Наследование/v17/.wsuo
/HW-5/Наследование/.vs/Наследование/v17/DocumentLayout.backup.json
/HW-5/Наследование/.vs/Наследование/v17/.suo
/HW-6/Figures/.vs/Figures/CopilotIndices/17.13.441.19478
/HW-6/Figures/Figures/obj
/HW-6/Figures/Figures/bin/Debug/net8.0
/HW-6/Figures/.vs/Figures/v17
/HW-7/The psycho hospital/.vs/ProjectEvaluation
/HW-7/The psycho hospital/.vs/The psycho hospital/copilot-chat/4ebd0d87/sessions
/HW-7/The psycho hospital/.vs/The psycho hospital/CopilotIndices/17.13.441.19478
/HW-7/The psycho hospital/The psycho hospital/bin/Debug/net8.0
/HW-7/The psycho hospital/The psycho hospital/obj
*.cs
/HW-7/The psycho hospital/TextFile1.txt
*.json
/HW-7/The psycho hospital/.vs/The psycho hospital/v17/.wsuo
*.suo
