################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/Debug/
/bin/Release/
/Homework02/Homework02/obj/Debug/net8.0
/Homework02/Homework02/bin/Debug/net8.0
/Homework02/.vs/Homework02/CopilotIndices/17.13.441.19478
/Homework02/.vs/Homework02/copilot-chat/4ebd0d87/sessions
/Homework02/.vs/Homework02/FileContentIndex
/.vs/OOP-homework/CopilotIndices/17.13.441.19478
/HW-1/Homework01/Homework01/.vs/Homework01/CopilotIndices/17.13.441.19478
/HW-1/Homework01/Homework01/.vs/Homework01/FileContentIndex
/HW-1/Homework01/Homework01/bin/Debug/net8.0
/HW-1/Homework01/Homework01/obj/Debug/net8.0
/HW-1/Homework01/Homework01/obj/Release/net8.0
/HW-1/Homework02/.vs/Homework02/copilot-chat/4ebd0d87/sessions
/HW-1/Homework02/.vs/Homework02/CopilotIndices/17.13.441.19478
/HW-1/Homework02/.vs/Homework02/FileContentIndex
/HW-1/Homework02/Homework02/bin/Debug/net8.0
/.vs/OOP-homework/FileContentIndex/577409da-fafc-4090-b22b-99073b4cec1b.vsidx
/.vs/OOP-homework/FileContentIndex/ee19ecf2-261d-4eb6-b25d-0da3079c1283.vsidx
*.vsidx
/HW-2/Car1/.vs/Car1/CopilotIndices/17.13.441.19478
/.vs/OOP-homework/copilot-chat/4ebd0d87/sessions
/.vs/slnx.sqlite
/HW-3/Transport/.vs/Transport/CopilotIndices/17.13.441.19478
